<!-- <h1>Representatives:</h1>

<ul>
  <% @representatives.each do |representative| %>
  <p><%=link_to representative.name, representative_path(representative) %> </p>
    <% if user_signed_in? && @user.admin %>
      <%= link_to "Edit Representative", edit_representative_path(representative) %>
      <%= button_to "Delete Representative", {controller: "representatives", action: "destroy", id: representative.id}, method: :delete %>
    <% end %>
  <% end %>
</ul>

<% if user_signed_in? %>
<%= link_to "Put a new representative on blast!", new_representative_path %>
<% end %>

<% if @representatives.blank? %>
  <h4>There are no representatives containing <%= params[:search] %>.</h4>
<% end %> -->

<!-- <%= javascript_pack_tag 'hello_react' %> -->

<%= react_component("IndexPage", props: { data: @representatives, title: "Represenatives" }, prerender: true) %>
