<div class="row">
  <div class="col-md-6 col-md-offset-3 text-center">
    <h1>Put a new Representative on blast!</h1>
  </div>
</div>
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= bootstrap_form_for @representative do |f| %>
        <%= f.text_field :first_name,label: "First Name" %>
        <%= f.text_field :last_name, label: "Last Name" %>
        <%= f.email_field :email %>
        <%= f.text_field :office %>
        <%= f.date_select :elected %>
        <%= f.text_field :party, label: "Party Affiliation" %>
        <%= f.text_area :bio, label: "Representative Bio" %>
        <%= f.text_field :phone_number, label: "Phone Number" %>
        <%= f.text_field :picture_url, label: "Representative Picure Link" %>
        <%= f.submit "Add Representative", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>
