<h1><%= @representative.first_name %> <%= @representative.last_name %></h1>
<ul>
  <img src="<%= @representative.picture_url %>">
  <p><%= @representative.office %></p>
  <p><%= @representative.party %></p>
  <p><%= @representative.email %></p>
  <p><%= @representative.bio %></p>
  <p><%= @representative.elected %></p>
  <p><%= @representative.phone_number %></p>

</ul>

<%= link_to "Blast this rep", new_representative_review_path(@representative) %>

<% @reviews.each do |review| %>
<h3><%= review.headline %></h3>
<%= review.body %><br>
Rating: <%= review.rating %>/5<br>
Reviewed by: <%= review.user.first_name %>
<% if @user == review.user %>
  <%= link_to "Edit Review", edit_representative_review_path(@representative, review) %>
  <%= button_to "Delete Review", {controller: "reviews", action: "destroy", representative_id: @representative.id, review_id: review.id}, method: :delete %>

<% end %>



<%= button_to "Upvote", {controller: "upvotes", action: "create", representative_id: @representative.id, review_id: review.id}, method: :post %><br  />
<%= review.votes %><br  />
<%= button_to "Downvote", {controller: "downvotes", action: "create", representative_id: @representative.id, review_id: review.id}, method: :post %>

<h4>Comments: </h4>
<ul>
  <% @comments[review.id].each do |comment| %>
    <p><%= comment.body %></p>
    <% if @user == comment.user %>
      <%= link_to "Edit Comment", edit_representative_review_comment_path(@representative, review, comment) %>
      <%= button_to "Delete Comment", {controller: "comments", action: "destroy", representative_id: @representative.id, review_id: review.id, id: comment.id}, method: :delete %>

    <% end %>
  <% end %>
  <p><%= link_to "Comment on this blast", new_representative_review_comment_path(@representative, review) %></p>

</ul>
<% end %>
