<h1>Blast your Rep!</h1>

<%= form_for [@representative, @review] html: { method: :put } do |f| %>
  <%= f.label :headline %>
  <%= f.text_field :headline %><br />
  <%= f.label :body %>
  <%= f.text_field :body %><br />
  <%= f.label :rating %>
  <%= f.text_field :rating %><br />

  <%= f.submit "Add Review" %>
<% end %>
