<!DOCTYPE html>
<html>
  <head>
    <title>On Blast</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all' %>
<<<<<<< HEAD
    <%= javascript_pack_tag 'main' %>
=======
    <%= javascript_pack_tag 'index-page-bundle' %>
    <%= javascript_pack_tag 'show-page-bundle' %>
>>>>>>> react_components
  </head>
  <body>
    <nav class="navbar navbar-default">
      <div class="container">
        <div class="navbar-header">
          <%= link_to 'On Blast', root_path, class: "navbar-brand" %>
        </div>
        <ul class="nav navbar-nav navbar-right">
          <% if user_signed_in? %>
            <li>
              <%= link_to "Sign Out", destroy_user_session_path, method: :delete %>
            </li>
            <li>
              <%= image_tag(current_user.avatar.url, size: "40x40", class:"img-circle") if current_user.avatar? %> <%= link_to current_user.first_name, edit_user_registration_path, class: "nav-link-right"%>
            </li>
          <% else %>
            <li>
              <%= link_to "Sign Up", new_user_registration_path %>
            </li>
            <li>
              <%= link_to "Sign In", new_user_session_path %>
            </li>
          <% end %>
        </ul>
            <%= form_tag(representatives_path, :method => "get", id: "search-form", class: "navbar-form navbar-right") do %>
                <%= text_field_tag :search, params[:search], placeholder: "Search Representatives" %>
                <%= submit_tag "Search", :name => nil %>
            <% end %>
      </div>
    </nav>

    <div class="container">
      <% if !flash.empty? %>
          <div class="row">
            <div class="col-sm-6 col-sm-offset-3">
              <% flash.each do |key, value| %>
                <% if key == 'notice' %>
                  <div class="alert alert-success"><%= value %></div>
                <% elsif key == 'alert' %>
                  <div class="alert alert-danger"><%= value %></div>
                <% else %>
                  <div class="alert alert-<%= key %>"><%= value %></div>
                <% end %>
              <% end %>
            </div>
          </div>
        <% end %>

      <%= yield %>
    </div>
  </body>
</html>
