<!DOCTYPE html>
<html>
  <head>
    <title>On Blast</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_pack_tag 'index-page-bundle' %>
<link href="https://fonts.googleapis.com/css?family=Bungee+Shade|Monofett" rel="stylesheet">
  </head>
  <body>
    <%= react_component("Navigation", props: { user: @user }, prerender: false) %>

    <div class="container">
      <% if !flash.empty? %>
          <div class="row">
            <div class="col-sm-8 col-sm-offset-2">
              <% flash.each do |key, value| %>
                <% if key == 'notice' %>
                  <div class="alert alert-success"><%= value %></div>
                <% elsif key == 'alert' %>
                  <div class="alert alert-danger"><%= value %></div>
                <% else %>
                  <div class="alert alert-<%= key %>"><%= value %></div>
                <% end %>
              <% end %>
            </div>
          </div>
        <% end %>
      </div>

      <%= yield %>

  </body>
</html>
